*{
  
  box-sizing: border-box;
}
html,
body,
#root{
  width:100%
}
html{
  background-color: rgb(38, 37, 37);
  color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
@import "tailwindcss";